@import 'colors.scss';

Header {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: $header_color;

  > img {

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}