@import 'colors.scss';

.TaskGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  background-color: $group_color;
  font-size: 1.2em;

  padding: 1em;

  border: 0.2em solid $accent_color;
  border-radius: 0.8em;

  > .TaskGroup-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;

    > img {
      visibility: hidden;
      height: 70%;
    }

    &:hover {
      > img {
        visibility: visible;
      }
    }
  }

  > .TaskList-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    background-color: white;
  }
}